@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: "SUSE", sans-serif;
    background-color: #111;
    color: #fff;
}
#String{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

